$grid-size: 15;
$cell-size: 100% / $grid-size;

* {
  box-sizing: border-box;
}
@media screen and (min-width: 0) {
  html {
    font-size: 8px;
  }
  .container {
    margin: 0 auto;
    width: 95vw;
  }
  .grid {
    height: 95vw;
  }
}
@media screen and (min-width: 768px) {
  html {
    font-size: 12px;
  }
  .container {
    margin: 0 auto;
    width: 75vw;
  }
  .grid {
    height: 75vw;
  }
}
@media only screen and (min-width: 1200px) {
  html {
    font-size: 12px;
  }
  .container {
    margin: 0 auto;
    width: 50vw;
  }
  .grid {
    height: 50vw;
  }
}
body {
  background: $theme100;
  margin: 5rem 0;
}
ul {
  padding: 0;
  width: 100%;
  flex-wrap: wrap;
}
p {
  margin: 0;
}
nav {
  h1, section h3, section p {
    color: $theme500;
  }
  h1 {
    margin: 0;
    text-align: center;
    font-size: 3rem;
    font-weight: bold;
  }
  li {
    position: relative;
    cursor: pointer;
    padding: 0 1rem;
    margin: 1rem 0.5rem;
    border-radius: 2px;
    height: 36px;
    line-height: 36px;
    width: 135px;
    letter-spacing: .5px;
    background: #26a69a;
    color: $white;
    user-select: none;
    z-index: 1;
    will-change: opacity, transform;
    transition: all .3s ease-out;
    box-shadow: 0 2px 5px 0 rgba(0,0,0,0.16),0 2px 10px 0 rgba(0,0,0,0.12);
  }
  li:hover {
    background-color: #2bbbad;
    box-shadow: 0 5px 11px 0 rgba(0,0,0,0.18),0 4px 15px 0 rgba(0,0,0,0.15);
  }
  a, a:visited, a:hover, a:active {
    color: inherit;
    text-decoration: none;
  }
}
section {
  h2 {
    margin: 0;
    color: $theme500;
    text-align: center;
    font-size: 2rem;
    user-select: none;
  }
  ul {
    &.appear {
      animation: appear 0.2s ease-in;
    }
    @keyframes appear {
      0% {
        transform: translateY(-4rem);
      }
      50% {
        transform: translateY(-1rem);
      }
      100% {
        transform: translateY(0rem);
      }
    }
  }
  li {
    height: 8rem;
    width: 8rem;
    margin: 1rem;
    padding: 1rem;
    border-radius: 3px;
    background: $theme500;
    color: $theme900;
    font-weight: bold;
    font-size: 1.2rem;
    box-shadow: 0 2px 5px 0 rgba(0,0,0,0.16),0 2px 10px 0 rgba(0,0,0,0.12);
    user-select: none;
    will-change: opacity, transform;
    transition: all .3s ease-out;
    &:hover {
      transform: scale3d(1.5, 1.5, 1.5);
      box-shadow: 0 5px 11px 0 rgba(0,0,0,0.18),0 4px 15px 0 rgba(0,0,0,0.15);
    }
  }
}
.grid {
  margin-top: 2.5rem;
  padding: 1rem;
  cursor: pointer;
  background: $theme-color;
  width: 100%;
  border-radius: 6px;
}
.row {
  width: 100%;
  height: $cell-size;
}
.cell {
  position: relative;
  height: 100%;
  width: $cell-size;
  height: 100%;
  background: $theme300;
  padding: 0.3rem;
  color: $theme900;
  box-shadow: 0 2px 5px 0 rgba(0,0,0,0.16),0 2px 10px 0 rgba(0,0,0,0.12);
  user-select: none;
  will-change: opacity, transform;
  transition: all .3s ease-out;
  &:hover {
    transform: scale3d(0.85, 0.85, 0.85);
  }
  &.selected {
    transform: scale3d(0.85, 0.85, 0.85);
    box-shadow: inset 0 2px 2px 0 rgba(0, 0, 0, 0.16), inset 0 2px 4px 0 rgba(0, 0, 0, 0.12);
  }
  &.correct {
    transform: scale3d(0.85, 0.85, 0.85);
    box-shadow: inset 0 2px 2px 0 rgba(0, 0, 0, 0.16), inset 0 2px 4px 0 rgba(0, 0, 0, 0.12);
    background: #64FFDA;
  }
  &.wrong {
    transform: scale3d(0.85, 0.85, 0.85);
    box-shadow: inset 0 2px 2px 0 rgba(0, 0, 0, 0.05), inset 0 2px 4px 0 rgba(0, 0, 0, 0.01);
    background: #E57373;
  }
}
